
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background: linear-gradient(to right, #4CAF50, #2196F3);
    color: white;
    padding: 20px;
}
h1{
    align-content: center;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 300px; 
    padding: 20px;
    background-color: #ddd;
}

.main-content {
    flex: 1; 
    padding: 20px;
    background-color: #f0f0f0;
}
main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}