
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background: linear-gradient(to right, #4CAF50, #2196F3);
    color: white;
    padding: 20px;
}
h1{
    align-content: center;
    text-align: center;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 300px; 
    padding: 20px;
    background-color: #ddd;
}

.main-content {
    flex: 1; 
    padding: 20px;
    background-color: #f0f0f0;
}
main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.contact{
    padding: 10px;
    margin: 0 auto; 
    max-width: 500px; 
    text-align: center;
    text-align: justify;
}
/*Styling for form*/
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}
/*Styling for input fields*/
input[type="text"],
input[type="email"],
textarea {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

/*Responsive Styling*/
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .right {
        margin-left: 0;
    }
}
@media screen and (max-width: 768px) {
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }